{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class='row'>
        {% for product in products %}
        <div class='col-lg-4'>
            <div class="box-element product">
                <img class="thumbnail" src="{{ product.imageUrl}}">
                <h6><strong> {{product.name}} </strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="{% url 'products_detail' product.id %}"> View</a>
                <h4 style="float: right">${{product.price|floatformat:2}}</h4> 
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}

